.basket {
    padding: 15px;
}

.basket-title {
    margin-bottom: 50px;
}

.basket-item-container {
    overflow: scroll;
    height: 66vh;
}

.basket-item {
    display: flex;
}

.basket-food {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.basket-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-checkout {
    position: fixed;
    bottom: 0;
}

.basket-total {
    display: flex;
    justify-content: space-around;
}

.basket-total-container {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}